
body {
	background-image: url("../image/PhotoshopPicturePractice.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	font-family:'Kaushan Script', cursive;
	font-color: white;
}


.title {
	text-align: center;
}

.navbar-inverse {
	background-color: transparent;
}

/*.img-circle{
	border-radius: 50%;
	align-items:center;
}

